header {
  border-bottom: 1px solid #eeeeee;
}
header .content_wrapper {
  display: flex;
}
header h1 {
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
  font-size: 20px;
  margin: 0;
  padding: 24px 0;
}
header nav {
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
  justify-content: center;
  align-items: center;
}
header nav a {
  text-decoration: none;
  color: #555555;
  padding: 10px 10px;
  margin: 0 10px;
}
header nav a:hover {
  border-bottom: 1px solid #aaa;
}
header .link_icons {
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}
header .link_icons a {
  text-decoration: none;
  color: #394352;
  padding: 0 10px;
  position: relative;
}
header .link_icons a:hover {
  color: #4e5c70;
}
header .link_icons a i {
  font-size: 18px;
}
header .link_icons a span {
  display: inline-block;
  text-align: center;
  background-color: #f53232;
  border-radius: 50%;
  color: #ffffff;
  font-size: 12px;
  line-height: 16px;
  width: 16px;
  height: 16px;
  font-weight: bold;
  position: absolute;
  top: -4px;
  right: 0px;
}
header .content_wrapper .logo {
  padding: 6px 0;
}
